# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
### List popular languages for Data Science
- python
- sql
- R

### Some of the popular languages that Data Scientists use are:
1. python
2. R
3. Sql

### Some of the commonly used libraries used by Data Scientists include:
1. python libraries
2. Apache spark
3. Scala Libraries
4. R libraries

Data Science Tools|
----------------------
Data Management|
Data integration and transformation|
Data visualization|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
#### Haritha Krishna